body {
	background-color: skyblue;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	margin: 0;
}

a {
	text-decoration: underline;
	color: white;
}
.App {
	text-align: center;
}

.placeholder_div {
	margin-top: 100px;
	color: #073a60;
	font-size: 20px;
	display: block;
}

.fade {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #073a60;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #073a60;
}

.footer {
	margin-top: 100px;
	padding: 15px;
	background: #073a60;
	color: white;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 800px) {
	.footer {
		width: 100%;
		flex-direction: column;
	}

	.footer-right {
		margin-bottom: 10px;
	}
}
