.searchfield {
	margin-top: 30px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	outline: none;
	border: 1px solid #073a60;
	background-color: lightcyan;
	width: 40%;
	font-size: 18px;
	border-right: none;
	border-radius: 30px 0px 0px 30px;
}

.searchfield::placeholder {
	opacity: 0.6;
}

.search_btn {
	border: 1px solid #073a60;
	background-color: lightcyan;
	border-top-right-radius: 50%;
	border-left: none;
	border-bottom-right-radius: 50%;
	padding: 15px;
	padding-top: 13px;
	font-size: 18px;
	color: #073a60;
}
