.weatherdata_container {
	margin-top: 50px;
}

.weeklydata_container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 30px;
}

.dailystats {
	display: flex;
	margin-top: 10px;
}

.currentdata_container {
	display: flex;
	justify-content: space-around;
}

.city_info {
	display: block;
	justify-content: center;
}
