.weatherdata_container {
	margin-top: 50px;
}

.weeklydata_container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	padding: 30px;
}

.dailystats {
	display: flex;
	margin-top: 10px;
}

.currentdata_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.city_info {
	display: block;
	justify-content: center;
}

@media screen and (max-width: 1000px) {
	.weeklydata_container {
		overflow-y: hidden;
		overflow-x: scroll;
	}

	.currentdata_container {
		flex-direction: column;
	}

	.city_info {
		margin-bottom: 30px;
	}
}
